.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.hover:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

a.text-black.active {
  color: #004c33 !important;
  border-bottom: 3px solid #004c33 !important;
}
